:root {
    --cor1: #e15f41;
    --cor2: #fff;
    --cor3: #ffeae6;
    --font1: 'Bruno Ace', cursive;
    --font2: 'Pacifico', cursive;
    --font3: 'Roboto', sans-serif
}

.navbar {
    background-color: var(--cor1);
}

#cabecalho .nav .nav-link.active {
    background-color: var(--cor2);
    color: var(--cor1);
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-cardapio .nav-link.active:hover {
    color: var(--cor2);

}

.navbar-brand,
.section-title {
    font-family: var(--font2);
}

.navbar-toggler {
    background-color: var(--cor3);
}

.section-title span,
.text-colored {
    color: var(--cor1);
}

#sobre-o-restaurante,
#cardapio {
    background-color: var(--cor3);
}

.nav-cardapio .nav-link.active,
#fale-conosco button {
    background-color: var(--cor1);
    color: var(--cor2);
}

.nav-cardapio .nav-link:hover {
    color:var(--cor1)
}

.social-links li {
    list-style: none;
    display: inline;
}

.social-links a {
    text-decoration: none;
}

@media (max-width: 767px) {
    .carousel-item img {
        height: 280px;
    } 
}